extends layout

block content
 h1 #{title}
 p 
  a(href="/") Home
  |  > 
  a(href="/users/register") Register
 br
 if errors
  each error, i in errors
   div.alert.alert-danger #{error.msg}
 form(method='post', action='/users/register')
  .form-group
   label Name
   input.form-control(name='name', type='text', placeholder='Enter Name')
  .form-group
   label Email
   input.form-control(name='username', type='text', placeholder='Enter Username')
  .form-group
   label Verification Code
   input.form-control(name='password', type='text', placeholder='Enter Password')
  .form-group
   label Confirm Verification Code
   input.form-control(name='password2', type='text', placeholder='Confirm Password')

  input.btn.btn-primary(type='submit', name='submit',value='Register')

  div(class="container" style="padding: 20px 10px 50px 10px;")
    div.legal(style="text-align: center;") Copyright ©2021 Star Party | Sri Lanka
      sup ®
          br
      |*A 
      a(href="https://en.wikipedia.org/wiki/Carbon_neutrality" target="_blank" style="text-decoration: none;")
        span.carbon-link carbon neutral 
      |platform